.container{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 6px;
    background-color: #9b9696;
    box-shadow: 0px 2px  3px rgba(0,0,0,0.3);
    // transition: box-shadow 0.3s; 
    
    & :hover{  // & - 当前元素 
        box-shadow: 0 4px 10p #e8e8e8;
    }
}

.title{
    display: flex;

    .left{
        flex: 1;
    }

    .right{
        flex:1;
        text-align: right;
    }
}

.button-container{
    display: flex;

    .left{
        flex: 1;
    }

    .right{
        flex: 1;
        text-align: right;
        
        button{
            color: #999;
        }
    }
}